:root {
  --font-clr: hsl(0 0% 10%);
  --body-bg-clr: hsl(0 0% 85%);
  --container-width: 1280px;
  --header-height: 6vh;
  --footer-height: 4vh;
  --sm-corner: 0.5rem;
  --md-corner: 0.75rem;
  --lg-corner: 1rem;
}
